<div class="grid grid-cols-1 gap-6 mr-8 ml-8">
    <p class="text-xl">Selecione as NFe que você deseja integrar ao sistema</p>

    <div class=" w-full h-40 bg-green-50 rounded-2xl
     border-2 border-dashed border-green-200 grid grid-cols-1" (click)="onClickFileInput()">
        <div class="flex flex-col justify-center items-center pt-4 cursor-pointer">
            <i class="ki-filled ki-file-up text-3xl text-green-500 ">
            </i>

            <p class="text-green-500 pt-10">Clique aqui para procurar os arquivos</p>
        </div>
        <input type="file" id="fileInput" hidden multiple (change)="onChangeFileInput($event)" />
    </div>

    <button data-kt-modal-toggle="#modal" type="button" class="kt-btn bg-green-500 w-30"
        (click)="onClickIntegrar()">Integrar</button>

    <div data-kt-datatable="true" data-kt-datatable-page-size="10">
        <table class="kt-table w-full border border-gray-200" data-kt-datatable-table="true">
            <thead>
                <tr>
                    <th data-kt-datatable-column="name" class="w-4/12">
                        <span class="kt-table-col">
                            <span class="kt-table-col-label">Nome</span>
                        </span>
                    </th>
                    <th data-kt-datatable-column="mb" class="w-4/12">
                        <span class="kt-table-col">
                            <span class="kt-table-col-label">Mb</span>
                        </span>
                    </th>
                    <th data-kt-datatable-column="actions" class="w-4/12">
                        <span class="kt-table-col">
                            <span class="kt-table-col-label">Acoes</span>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (item of files(); track $index) {
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{(item.size / (1024 * 1024)).toFixed(2)}} Mb</td>
                    <td>
                        <button (click)="onRemoveFile($index)">
                            <i class="ki-filled ki-trash text-2xl text-red-500">
                            </i>
                        </button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div class="kt-modal kt-modal-center  " data-kt-modal="true" data-kt-modal-persistent="true" id="modal">
    <div class="flex justify-center items-center h-full ">
        <div class=" w-full max-w-md flex-col gap-4 ">
            <div class="kt-modal-content p-2">
            <div class="kt-progress kt-progress-success h-2">
                <div class="kt-progress-indicator" [style.width.%]="percentage()"></div>
            </div>
            <div class="mt-2">{{percentage()}}% Completo</div>

            </div>
        </div>
    </div>
</div>